= render 'userProfileBanner'

.account-form
  .container

    = devise_error_messages!
    %br

    %h2 REDEEM
    %p
      Ready to redeem? If you already have at least 450 points, check out our
      %a(href=store_path, style='color:#1bbc9b; font-size: 27px;') store

    .alert-info
      %span.img-sec>
        = image_tag("ribbon_2__.png")
      Fill out your profile to earn
      %span 15 points!
    .clear


    

  


    .clear
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => ".form-fields" }, :defaults => { :wrapper_html => { :class => "select-style" }, label: false}) do |f|
      

      / .form-block
      /   = f.label :username
      /   = f.text_field :username, autofocus: true


      .form-block
        = f.input :age, prompt: "Age", collection: User::AGE_.map{|s| [s.humanize, s]}

      .form-block
        = f.input :gender, prompt: "Gender", collection: User::GENDER_.map{|s| [s.humanize, s]}

      .form-block
        = f.input :device, prompt: "Device", collection: User::DEVICE_.map{|s| [s.humanize, s]}

      .form-block
        = f.input :OS, prompt: "Primary OS", collection: User::OS_.map{|s| [s.humanize, s]}

      .form-block
        = f.input :time_spent, prompt: "Weekly time spent on mobile games", collection: User::TIME_SPENT_.map{|s| [s.humanize, s]}

      .form-block
        = f.input :spending, prompt: "Monthly money spent", collection: User::SPENDING_.map{|s| [s.humanize, s]}

      .form-block
        = f.input :motivation, prompt: "Primary playing motivation", collection: User::MOTIVATION_.map{ |s| [s.humanize, s]}
        / To humanize the underscores into spaces
      

      .form-block
        = f.input :paying_incentive, prompt: "Primary paying incentive", collection: User::PAYING_INCENTIVE_.map{ |s| [s.tr('_', ' '), s]}

      .form-block
        = f.input :nation, prompt: "Country", collection: User::NATION_.map{ |s| [s.tr('_', ' '), s]}

      .form-block
        = f.input :game_genre, prompt: "Favorite Genre", collection: User::GAME_GENRE_.map{ |s| [s.tr('_', ' '), s]}

      .form-block
        = f.input :num_games, placeholder: "# games currently in your device"

      .form-block
        = f.input :fav_game, placeholder: "Favorite Game"

      
      .form-block.right.fr
        = f.submit "Update", class: "update-btn"



      .alert-info.yellow Leave blank if you don't want to change your password


      .form-fields
       

        .form-block
          .select-style.lbl
            = f.password_field :password, autocomplete: "off", placeholder: "New Password"

        .form-block.center
          .select-style.lbl
            = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password"

        .form-block.right
          .select-style.lbl
            = f.password_field :current_password, autocomplete: "off", placeholder: "Current Password"


      .form-block.right.fr
        = f.submit "Update", class: "update-btn"
