<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= Link.find_by(id: @comment.link_id).title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user.username %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', Link.find_by(id: @comment.link_id) %>
