#games
  .info-banner(style="margin-top: 0px;")
  / remove the whitespace on top
  .search-sec(style="display:none;")
    .container
      .sr-fields
        %input{:placeholder => "Search game here", :type => "text", :value => ""}/
        %input.search{:type => "submit", :value => ""}/
      .form-block.small-wid
        .select-style
          %select
            %option Sorted by
            %option
  .container
    .listing
      %ul


        - for num in (0..(@games.length - 1))
          - game = @games[num]
          - survey = @surveys[num]
          - link = @links[num]
          - alt_link = @alt_links[num]
          - player_num = (@count * @mult[num] + @base[num]).round
          - is_featured = (@featured[num] == 1)
          - android = !alt_link.blank?
          - ios = !link.blank?

          - if File.exist?(File.join(Rails.root, "public/assets/files/games/#{game}/icon.png")) && File.exist?(File.join(Rails.root, "public/assets/files/games/#{game}/title.txt")) && File.exist?(File.join(Rails.root, "public/assets/files/games/#{game}/publisher.txt")) && File.exist?(File.join(Rails.root, "public/assets/files/games/#{game}/description.txt"))

            %li.games
              .product-img
                - if is_featured
                  / make the featured banner overlay the game icon
                  / this is the ugliest string formatting ever lol -- rip Rails image paths
                  =image_tag("featured_banner.png", :style => "background-image: url('" + image_path("/assets/files/games/"+game+"/icon.png") + "')", :class => "featured")
                - else
                  =image_tag("/assets/files/games/#{game}/icon.png")

                - if android && !ios
                  - link = alt_link
                  / https://css-tricks.com/snippets/css/corner-ribbon/
                  .ribbon-wrapper
                    .ribbon-green
                      Android Only

                - if ios && !android
                  .ribbon-wrapper
                    .ribbon-orange
                      iOS Only

              .product-info
                %h2= render :file => "/public/assets/files/games/#{game}/title.txt"
                /%h6= render :file => "/public/assets/files/games/#{game}/publisher.txt"
                %p= render :file => "/public/assets/files/games/#{game}/description.txt"

                = form_tag '/games', :method => :post do
                  %input(type="hidden" name="game_num" value=num)
                  / %input(type="hidden" name="survey" value=survey)
                  / %input(type="hidden" name="link" value=link)
                  / %input(type="hidden" name="player_num" value=player_num)
                  / %input(type="hidden" name="is_featured" value=is_featured)

                  
                  .links

                    %a.play_now{:href => (@device == "android" && ios && android ? alt_link : link), :target => "_blank"} Play Now!
                   
                    - if ios && android
                      .drop-down
                        %a(href=link target="_blank") iTunes Store
                        %a(href=alt_link target="_blank") Android

                  %button.register(type="submit")
                    %a Earn Rewards


                  - if is_featured
                    %a.bug(href="mailto:info@willowflare.com")
                      Report a Bug


              / %button.register(name="game" value=game type="submit")
              /   %a(href="") Earn Rewards

              .price
                .rounded-ft= player_num
                / let's make this scale with number of players
                %p Pre-registrations

              
        / %li
        /   .product-img
        /     %img{:src => "images/pr-02.png"}/
        /   .product-info
        /     %h2 Car Rally
        /     %h6 super sonic
        /     %p Maecenas semper orci mi, vel suscipit eros pulvinar efficitur. Donec sed
        /     %a{:href => ""} Pre-register
        /   .price
        /     .rounded-ft 4.2k
        /     %p Pre-registrations
        / %li
        /   .product-img
        /     %img{:src => "images/pr-03.png"}/
        /   .product-info
        /     %h2 Jumping here
        /     %h6 super sonic
        /     %p Maecenas semper orci mi, vel suscipit eros pulvinar efficitur. Donec sed
        /   .price
        /     .rounded-ft 4.2k
        /     %p Pre-registrations
        /     .sold-out
        / %li
        /   .product-img
        /     %img{:src => "images/pr-04.png"}/
        /   .product-info
        /     %h2 Bio Shock
        /     %h6 super sonic
        /     %p Maecenas semper orci mi, vel suscipit eros pulvinar efficitur. Donec sed
        /     %a{:href => ""} Pre-register
        /   .price
        /     .rounded-ft 4.2k
        /     %p Pre-registrations
