.game-detail
  .container
    .breadcrum
      %span
        %a{:href => "/games"} Games &gt;
      %span= @game
    .listing
      %ul
        %li.games
          .product-img
            - if @is_featured
              / make the featured banner overlay the game icon
              
              =image_tag("featured_banner.png", :style => "background-image: url('" + image_path("/assets/files/games/"+@game+"/icon.png") + "')", :class => "featured")

            - else
              =image_tag("/assets/files/games/" + @game + "/icon.png")


            - if @is_android && !@is_ios
              - @link = @alt_link
              / https://css-tricks.com/snippets/css/corner-ribbon/
              .ribbon-wrapper
                .ribbon-green
                  Android Only

            - if @is_ios && !@is_android
              .ribbon-wrapper
                .ribbon-orange
                  iOS Only

            /=image_tag("/assets/files/games/" + @game + "/icon.png")
          .product-info
            %h2= render :file => '/public/assets/files/games/' + @game + '/title.txt'
            %h6= render :file => '/public/assets/files/games/' + @game + '/publisher.txt'
            %p= render :file => '/public/assets/files/games/' + @game + '/description.txt'

            .links

              %a.play_now{:href => @device == "android" && @is_ios && @is_android ? @alt_link : @link, :onclick => "trackOutboundLink('#{@device == 'android' && @is_ios && @is_android ? @alt_link : @link}'); return false;", :target => "_blank"}


                - if @link != ""
                  Play Now!
                - else
                  Pre-register!

              - if @is_ios && @is_android
                .drop-down
                  %a(href=@link onclick="trackOutboundLink('#{@link}'); return false;" target="_blank") iTunes Store
                  %a(href=@alt_link onclick="trackOutboundLink('#{@alt_link}'); return false;" target="_blank") Android


            %a.rewards(href=@survey onclick="trackOutboundLink('#{@survey}'); return false;")
              - if @survey != ""
                Complete Survey for Rewards!
              - else
                Surveys Coming Soon
            // drop-down list of surveys

            %a.bug(href="blog/bug-bounty")
              Report a Bug
          
          .price
            .rounded-ft= @player_num
            %p Pre-registrations


    .detail-block
      .lf-dt
        .tabbing
          .tabs.tabs_style_default{"data-tabs-role" => "tabs"}
            .tabs__head
              %button.tabs__tab{"data-tabs-role" => "tab", "data-tabs-target" => "tab1", :type => "button"} Details
              %button.tabs__tab{"data-tabs-role" => "tab", "data-tabs-target" => "tab2", :type => "button"} Update
            .tabs__body
              .tabs__pane{"data-tabs-id" => "tab1"}
                %p= render :file => '/public/assets/files/games/' + @game + '/details.txt'
              .tabs__pane{"data-tabs-id" => "tab2"}
                %p= render :file => '/public/assets/files/games/' + @game + '/update.txt'
        .crousel
          %ul.bxslider2
            - @images.each do |image|
              / wierd routing with image_tag: don't need to prepend the "public" folder
              - image.slice! "public"
              %li
                =image_tag(image)
            / %li
            /   =image_tag("app-01.png")
            / %li
            /   =image_tag("app-02.png")
            / %li
            /   =image_tag("app-03.png")
            / %li
            /   =image_tag("app-01.png")
            / %li
            /   =image_tag("app-02.png")
            / %li
            /   =image_tag("app-03.png")
      

      / featured
      .rg-dt

        - for num in (0..(@games.length - 1))
          - if @featured[num] == 1

            .add-block
              .img-bg
                =image_tag("featured_banner.png", :style => "background-image: url('" + image_path("/assets/files/games/"+@games[num]+"/icon.png") + "')", :class => "featured")
              .product-info
                %h2= render :file => '/public/assets/files/games/' + @games[num] + '/title.txt'
                %h6= render :file => '/public/assets/files/games/' + @games[num] + '/publisher.txt'
                %p= render :file => '/public/assets/files/games/' + @games[num] + '/description.txt'
                
                = form_tag '/games', :method => :post do
                  %input(type="hidden" name="game_num" value=num)
                 
                  %button.register(type="submit")
                    %a More Info
        / .add-block
        /   .img-bg
        /     =image_tag("add-img-02.png")
        /   .product-info
        /     %h2 Trending
        /     /%h6 super sonic
        /     %p Coming Soon!
        /     %a{:href => ""} Pre-register

/ JS
/ = javascript_include_tag 'jquery.tabs'
:javascript
  $(document).ready(function() {
    $('[data-tabs-role="tabs"]').tabs();

    $(window).on('change.tabs', function(event) {
      event.preventDefault();
      console.log('change');
    });
  });
:javascript
  $(document).ready(function() {
    $('.bxslider2').bxSlider({
      minSlides: 1,
      maxSlides: 3,
      slideWidth: 200,
      slideMargin: 20
    });
  });
