.container
  .logo
    = link_to image_tag("logo.png"), main_app.root_url
  .navigation
    %nav
      %a.smobitrigger.ion-navicon-round{:href => "javascript:void(0)"}
        %span Menu

      %ul.mobimenu

        %li
          = link_to 'Blog', '/blog'

        %li
          = link_to 'Forum', '/forum'



        - if user_signed_in?
          %li
            = link_to 'Welcome', main_app.welcome_index_path
          %li
            = link_to 'Games', '/games'
          %li
            = link_to 'Account', main_app.edit_user_registration_path
          %li
            = link_to 'Store', main_app.store_path
          %li
            %a(class="login-btn" href="#{main_app.destroy_user_session_path}" data-method="delete") Sign Out




        - else
      
        
          / <li><a class="active" href="">ABOUT</a></li>
          %li
            = link_to '关于我们', '/companies'
          %li
            = link_to 'About Us', '/about'
          %li
            = link_to 'Our Games', '/ourgames'
          
          /%li
          /  = link_to 'ABOUT', '#about', {class: 'page-scroll'}
          /%li
          / = link_to 'FEATURES', '#features', {class: 'page-scroll'}
          %li
            = link_to 'SIGN UP', '/login#sign_up'
          %li
            = link_to 'Login', main_app.custom_login_path, {class: 'login-btn'}
