%html{"xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1", :name => "viewport"}/
    %title WillowFlare

    /= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags

    %link{:href => "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css", :rel => "stylesheet", :type => "text/css"}/
    
    = stylesheet_link_tag 'landingPage', media: 'all', 'data-turbolinks-track' => true


    %link{ :href => "http://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}

    %link{ :href => 'http://fonts.googleapis.com/css?family=Kaushan+Script', :rel => 'stylesheet', :type => 'text/css'}

    %link{ :href => 'http://fonts.googleapis.com/css?family=Nunito:300,400,700|Droid+Sans:400,700', :rel => 'stylesheet', :type=> 'text/css'}
    
    = favicon_link_tag 'favicon.png'



    = javascript_include_tag 'landingPage', 'data-turbolinks-track' => true

    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"}



    / JS
  %body

    .header-main
      = render 'layouts/header'


    - flash.each do |name, msg|
      - if msg != nil and !msg.empty?
        .alert.alert-info{:class => "alert-#{name}"}= msg
      
    = yield





    .footer
      .top-footer
        .container
          .lf-ft
            = image_tag("logo_new.png")
            .clear
            %p Play games. Give feedback. Earn rewards.
            %p Join a community of passionate mobile gamers and developers. At WillowFlare, you can truly customize your gaming experience and be the first to discover the next big games.
            %br
            %br
            .clear
            %ul.social
              %li
                %a{:href => "mailto:info@willowflare.com"}
                  %i.fa.fa-email
              %li
                %a{:href => "https://www.twitter.com/WillowFlare"}
                  = image_tag("twitter.png")
              %li
                %a{:href => "https://www.facebook.com/WillowFlare"}
                  = image_tag("facebook.png")
              / %li
              /   %a{:href => ""}
              /     = image_tag("pintresst.png")
              / %li
              /   %a{:href => ""}
              /     = image_tag("youtube.png")
          .rg-ft
            .footer-nav
              / (style: "visibility: hidden;")
              %h2 Join us Today
              %ul
                %li
                  = link_to 'Sign Up', '/login#sign_up'
                %li
                  = link_to 'Login', custom_login_path

              / just to cover space; remove if we are actually using Popular GAMES Tag below
            .footer-nav
              %h2 Useful Links
              %ul
                %li
                  %a{:href => "/companies"} 中国游戏公司？
                %li
                  %a{:href => ""} Our Games
                %li
                  %a{:href => "mailto:info@willowflare.com"} Email Us
            .footer-nav
              %h2 Need Help?
              %ul
                %li
                  %a{:href => ""} Privacy Policy
                %li
                  %a{:href => ""} Terms of Use
            / .footer-nav
            /   %h2 Popular GAMES Tag
            /   .clear
            /   .tags
            /     %span.active text 1
            /     %span text 1
            /     %span text 1
            /     %span text 1
            /     %span text 1
      .bottom-footer
        © 2016
        = succeed "." do
          %span WillowFlare
    / JS
    :javascript
      wow = new WOW(
        {
        animateClass: 'animated',
        offset:       100,
        callback:     function(box) {
          console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
        }
        }
      );
      wow.init();
    / JS



