%html{"xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1", :name => "viewport"}/
    %title WillowFlare

    /= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags

    %link{:href => "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css", :rel => "stylesheet", :type => "text/css"}/
    
    = stylesheet_link_tag 'landingPage', media: 'all', 'data-turbolinks-track' => true


    %link{ :href => "http://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}

    %link{ :href => 'http://fonts.googleapis.com/css?family=Kaushan+Script', :rel => 'stylesheet', :type => 'text/css'}

    %link{ :href => 'http://fonts.googleapis.com/css?family=Nunito:300,400,700|Droid+Sans:400,700', :rel => 'stylesheet', :type=> 'text/css'}
    
    = favicon_link_tag 'favicon.png'



    = javascript_include_tag 'landingPage', 'data-turbolinks-track' => true

    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"}



    / JS
  %body

    .header-main
      = render 'layouts/header'


    - flash.each do |name, msg|
      - if msg != nil and !msg.empty?
        .alert.alert-alert{:class => "alert-#{name}"}= msg
      
    = yield



    = render 'layouts/footer'


    / JS
    :javascript
      wow = new WOW(
        {
        animateClass: 'animated',
        offset:       100,
        callback:     function(box) {
          console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
        }
        }
      );
      wow.init();
    / JS



